#
# Настройки окружения
#
IS_PROD=
DISABLE_BOT_LISTENER=
ADDRESS=
SECRET=
PORT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
REDIS_URL=
TRUST_PROXY=

#
# Настройки апи бота
#
BOT_TOKEN=
BOT_POLLING_GROUP_ID=
BOT_API_MODE=

#
# Настройки админки
#
SETTINGS_CHAT_ID=
DEBUG_CHAT_ID=
ERROR_CHAT_ID=
AUTH_CHAT_ID=
ACCESS_CHAT_ID=
ADMIN_CHAT_ID=

#
# Данные для авторизации
#
APP_ID=
REDIRECT_URI=

#
# Настройки клиента
#
VITE_APP_ID=
VITE_LOGIN_REDIRECT_URL=
