#
# ===================
# Настройки окружения
#
IS_PROD=true
DISABLE_BOT_LISTENER=true
ADDRESS=127.0.0.1
PORT=4256
DB_NAME=vera
DB_USERNAME=vera
DB_PASSWORD=password

#
# ==================
# Настройки апи бота
#
BOT_TOKEN=
BOT_POLLING_GROUP_ID=
BOT_API_MODE=parallel

# Telegram-бот
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_ENABLED=false

#
# ========================
# Платформа авторизации
# Определяет способ авторизации в панели управления.
# Возможные значения: vk | telegram
#
BOT_PLATFORM=vk

#
# =================
# Настройки админки
#
SETTINGS_CHAT_ID=2000010040
DEBUG_CHAT_ID=2000010041
ERROR_CHAT_ID=2000010042
AUTH_CHAT_ID=2000010043
ACCESS_CHAT_ID=2000010044
ADMIN_CHAT_ID=2000010045

#
# ======================
# Данные для авторизации (только для BOT_PLATFORM=vk)
#
APP_ID=
REDIRECT_URI=
