#
# Настройки окружения
#
IS_PROD=
DISABLE_BOT_LISTENER=
ADDRESS=
PORT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

#
# Настройки апи бота
#
BOT_TOKEN=
BOT_POLLING_GROUP_ID=
BOT_API_MODE=

#
# Настройки админки
#
AUTHORIZATION_HASH=
AUTHORIZATION_TOKEN=
SETTINGS_CHAT_ID=
DEBUG_CHAT_ID=
ERROR_CHAT_ID=

#
# Данные для авторизации
#
APP_ID=
SERVICE_KEY=

#
# Настройки клиента
#
VITE_APP_ID=
