#
# ===================
# Настройки окружения
#
IS_PROD=true
DISABLE_BOT_LISTENER=true
ADDRESS=127.0.0.1
PORT=4256
DB_NAME=vera
DB_USERNAME=vera
DB_PASSWORD=password

#
# ==================
# Настройки апи бота
#
BOT_TOKEN=
BOT_POLLING_GROUP_ID=
BOT_API_MODE=parallel

#
# =================
# Настройки админки
#
AUTHORIZATION_HASH=
AUTHORIZATION_TOKEN=
SETTINGS_CHAT_ID=2000010040
DEBUG_CHAT_ID=2000010041
ERROR_CHAT_ID=2000010042
